img {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
    transition: all 0.7s;
    transform-origin: top left;
    
}

div {
    border: 5px solid red;
    width: 500px;
    height: 500px;
}
.transform-rotate:hover {
    transform: rotate(1000deg);
}
.transform-translate img:hover {
    transform:translate(300px,200px);

}

.transform-scale {
    overflow: hidden;
    
}
.transform-scale img:hover {
    transform: scale(1.5);
    transform-origin: center center;
}

@keyframes animation-example {
    0%, 100% {
        transform: scale(1); }
        
        50% {
            transform: scale(0.5);
        }
    }
    .animation img {
     /*   animation-name: animation-example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

*/

animation: animation-example 4s infinite ease-in;
}